<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Asset</th>
    <th>Status</th>
    <th></th>
  </tr>
  <% @webousers.each do |webouser| %>
    <tr>
      <td><%= webouser.name %></td>
      <td><%= webouser.phone %></td>
      <td><%= webouser.email %></td>
      <td><%= webouser.asset ? webouser.asset.name : '' %></td>
      <td><%= webouser.status == '1' ? "Active" : 'Inactive' %></td>
      <td><%= button_to 'Assign_asset', assign_asset_path(webouser.id), method: :get %></td>
    </te>
  <% end %>
</table>